body img{
    height: auto;
    width: 100%;
    
}
table{
    padding: 20px;
    margin: 10px;
    overflow-x: hidden;
}
.pushy{
    background: #65beb4;
    color: #ffffff;
    padding: 20px;
    text-align: center;

}
.navbar-brand{
    width: 60px;
    padding: 10px;
    border: 5px solid #65beb4;
    margin: 0; 

}